html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  background-color: indigo;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(40, 0, 68);
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background {
  background: linear-gradient(180deg, rgb(175, 153, 171), white);
  min-height: 100vh;
  min-width: 99vw;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preload * {
  transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  min-height: 15vh;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-variant: small-caps;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin: 1vh 1vw;
  transition-property: text-shadow, color;
  -o-transition-property: text-shadow, color;
  -ms-transition-property: text-shadow, color;
  -moz-transition-property: text-shadow, color;
  -webkit-transition-property: text-shadow, color;
  transition: 0.7s ease;
  -o-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
}

.logo:hover {
  color: indigo;
  text-shadow: 0 0 10px white;
}

.logo > img {
  max-height: 10vh;
}

.pages {
  display: flex;
  gap: 3vw;
  margin: 1vh 1vw;
}

.page {
  transition-property: text-shadow, color;
  -o-transition-property: text-shadow, color;
  -ms-transition-property: text-shadow, color;
  -moz-transition-property: text-shadow, color;
  -webkit-transition-property: text-shadow, color;
  transition: 0.7s ease;
  -o-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
}

.page:hover {
  color: indigo;
  text-shadow: 0 0 10px white;
}

.connection {
  margin: 1vh 1vw;
  padding: 1vh 2.5vw;
  border: indigo 2.5px solid;
  border-radius: 25px;
  transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition: 0.7s ease;
  -o-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
}

.connection > h2 {
  margin: 0;
}

.connection:hover {
  background-color: indigo;
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  min-height: 15vh;
  font-variant: small-caps;
  background-color: rgb(24, 24, 24);
  color: white;
  justify-content: space-between;
}

.footerLogo {
  align-items: center;
  display: flex;
  gap: 1vw;
  margin: 0 7.5vw;
  color: white;
}

.infos {
  display: flex;
  flex-direction: column;
  margin: 0 7.5vw;
}

.info {
  color: white;
}

.footerLogo > img {
  max-height: 10vh;
  filter: invert(100%);
}

.content {
  margin: 7.5vh 7.5vw;
}

.container {
  display: flex;
  margin: 10vh 0;
}

.buttons {
  margin: 5vh 0;
  display: flex;
  gap: 1vw;
}

.button {
  border: 2.5px solid indigo;
  padding: 1.5vh 2vw;
  font-weight: bold;
  font-size: 1.5em;
  max-width: 12.5vw;
}

.homeImg > img {
  max-width: 50vw;
}

.homeTxt {
  max-width: 30vw;
}

.homeTxt > h3 {
  color: rgb(48, 48, 48);
  font-weight: 500;
  margin: 2.5vh 0 0 0;
  font-size: 1.5em;
}

.homeTxt > h2 {
  font-size: 2.5em;
  margin: 0;
}

.homeTxt > p {
  font-weight: 700;
  font-size: 1em;
}

.demo {
  background-color: indigo;
  color: white;
}

.demo,
.signup {
  transition-property: border, color;
  -o-transition-property: border, color;
  -ms-transition-property: border, color;
  -moz-transition-property: border, color;
  -webkit-transition-property: border, color;
  transition: 0.7s ease;
  -o-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
}

.demo:hover {
  border-radius: 25px;
}

.signup {
  color: indigo;
}

.signup:hover {
  border-radius: 25px;
}

.arrival {
  justify-content: space-between;
  gap: 2.5vw;
}

.burger {
  display: none;
  margin: 0 5vw;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 2.5vw;
  min-width: 100%;
}

.card {
  min-width: 20vw;
  background-color: rgb(175, 153, 171);
  border-radius: 25px;
  padding: 2.5vh 2.5vw;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card * {
  margin: 2.5vh 0;
}

.card > .title {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
}

.square,
.circle {
  background-color: indigo;
  width: 10vw;
  min-height: 10vw;
}

.circle {
  border-radius: 50%;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
  border-bottom: 10vw solid indigo;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* Medium breakpoint */

@media screen and (max-width: 860px) {
  .button {
    padding: 1vh 1.5vw;
    font-size: 1em;
  }

  .homeTxt {
    max-width: 40vw;
  }

  .homeTxt > h2 {
    font-size: 1.5em;
  }

  .homeTxt > h3 {
    font-size: 1em;
  }

  .homeTxt > p {
    font-size: 0.75em;
  }

  .homeImg > img {
    max-width: 40vw;
  }

  .pages {
    display: none;
  }

  .connection {
    display: none;
  }

  .burger {
    display: initial;
  }

  .logo {
    margin: 0 5vw;
    gap: 3vw;
  }

  .card > .title {
    font-size: 1.5em;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    align-items: flex-start;
  }

  .cardContent {
    display: flex;
  }

  .square,
  .circle {
    background-color: indigo;
    width: 25vw;
    min-height: 25vw;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 12.5vw solid transparent;
    border-right: 12.5vw solid transparent;
    border-bottom: 25vw solid indigo;
  }
}

/* Small breakpoint */

@media screen and (max-width: 600px) {
  .homeImg {
    display: none;
  }

  .homeTxt {
    max-width: 80vw;
  }

  .buttons {
    gap: 5vw;
  }

  .button {
    padding: 2vh 5vw;
    font-size: 1.5em;
    max-width: 30vw;
  }

  .homeTxt {
    max-width: 80vw;
  }

  .homeTxt > h2 {
    font-size: 2em;
  }

  .homeTxt > h3 {
    font-size: 1.5em;
  }

  .homeTxt > p {
    font-size: 1em;
  }

  .card > .title {
    font-size: 2em;
    margin: 2vh 5vw;
  }

  .cardContent {
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 5vw;
  }

  .cardContent > .desc {
    max-width: 60%;
  }

  .square,
  .circle {
    background-color: indigo;
    width: 25vw;
    min-height: 25vw;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 12.5vw solid transparent;
    border-right: 12.5vw solid transparent;
    border-bottom: 25vw solid indigo;
  }
}
